.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.navLink {
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 400;
}
